/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.swp
*.swo
[#]*[#]
.\#*
/.lein-*
/.nrepl-port
/.idea
*.iml
.repl
out/
dev-resources/public/js/
resources/public/js/
figwheel_server.log
node_modules
/profiles.clj
.idea
