<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Vítejte na pripoj.me</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/bootstrap-datepicker.standalone.min.css" %}
    {% style "/css/screen.css" %}

    {% block page-css %}
    {% endblock %}

</head>
<body>

<nav id="header" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{servlet-context}}/"
               class="nav-link {% ifequal page "home.html" %} active{%endifequal%}">pripoj.me</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{servlet-context}}/cratechroom" class="{% ifequal page "cratechroom.html" %} active{%endifequal%}">CRA tech room</a></li>
                <li><a href="{{servlet-context}}/greenhouse" class="{% ifequal page "greenhouse.html" %} active{%endifequal%}">Greenhouse 2.0</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<!-- scripts -->
{% script "/js/jquery-3.1.1.min.js" %}
{% script "/assets/tether/dist/js/tether.min.js" %}
{% script "/assets/bootstrap/js/bootstrap.min.js" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>

{% block page-scripts %}
{% endblock %}

</body>
</html>
