<!DOCTYPE HTML>
<html>
<head>
  <title>Projekt CRA tech room</title>

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
  </style>


  {% script "/js/moment-with-locales.js" %}
  {% script "/js/vis.min.js" %}
  {% script "/js/jquery-3.1.1.min.js" %}
  {% script "/js/bootstrap-datepicker.min.js" %}
  {% script "/js/bootstrap-datepicker.cs.min.js" %}

  {% style "/css/vis.min.css" %}

  {% style "/assets/bootstrap/css/bootstrap.min.css" %}
  {% style "/assets/font-awesome/css/font-awesome.min.css" %}

  {% style "/css/test.css" %}
  {% style "/css/bootstrap-datepicker.standalone.min.css" %}

</head>
<body>

<div id="wrapper">
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="./">
        Start Bootstrap {{params.period}}
      </a>
    </li>
    <form action="/cratechroom" method="POST">
      <input type="hidden" name="paging"/>
      <li>
        <input id="date" name="date" type="text" class="datepicker" data-date-format="dd.mm.yyyy" value="{{params.begin}}"/>
      </li>
      <li>
        <select name="period">
          <option value="day" {% ifequal params.period "day" %}selected="selected"{% endifequal %}>Den</option>
          <option value="week" {% ifequal params.period "week" %}selected="selected"{% endifequal %}>Týden</option>
          <option value="month" {% ifequal params.period "month" %}selected="selected"{% endifequal %}>Měsíc</option>
        </select>
      </li>
      {% for device in devices %}
      <li><label title="{{device.description}}">
        <input type="checkbox" name="devices" value="{{device.devEUI}}" {{device.checked}}>{{device.devEUI}}
      </label>  </li>
      {% endfor %}
      <li>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous" onclick="previousPage();">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><input class="btn btn-default btn-lg" type="submit" value="compute"></li>
            <li>
              <a href="#" aria-label="Next" onclick="nextPage();">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </li>
    </form>
  </ul>
</div>
<!-- /#sidebar-wrapper -->


<!-- Page Content -->
<div id="page-content-wrapper">
  <div id="visualization"></div>
</div>
<!-- /#page-content-wrapper -->

</div>

<script type="text/javascript">
  var container = document.getElementById('visualization');
  var items = {{cljItems|safe}};
  var groupItems = {{groups|safe}};

  var groups = new vis.DataSet(groupItems);

  var dataset = new vis.DataSet(items);
  var options = {
    legend: true,
    height: "400px",
    start: "{{params.start}}",
    end: "{{params.end}}",
    locale: 'cs'
  };
  var Graph2d = new vis.Graph2d(container, dataset, groups, options);

  $('.datepicker').datepicker({
    language: "cs"
  });

  function previousPage() {
    $('[name="paging"]' ).val("previous");
    $( "form" ).submit();
  }

  function nextPage() {
    $('[name="paging"]' ).val("next");
    $( "form" ).submit();
  }
</script>
</body>
</html>