<!DOCTYPE HTML>
<html>
<head>
  <title>Graph2d or Basic Example</title>

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
  </style>

  {% style "/assets/bootstrap/css/bootstrap.min.css" %}
  {% style "/assets/font-awesome/css/font-awesome.min.css" %}

  {% style "/css/test.css" %}

</head>
<body>
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="./">
          Start Bootstrap {{params.period}}
        </a>
      </li>
      <form action="/greenhouse" method="POST">
      <li>
        <input id="date" name="date" type="text" value="{{params.begin}}"/>
      </li>
      <li>
        <select name="period">
          <option value="day" {% ifequal params.period ":day" %}selected="selected"{% endifequal %}>Den</option>
          <option value="week" {% ifequal params.period ":week" %}selected="selected"{% endifequal %}>Týden</option>
          <option value="month" {% ifequal params.period ":month" %}selected="selected"{% endifequal %}>Měsíc</option>
        </select>
      </li>
      {% for device in devices %}
      <li><label title="{{device.description}}">
        <input type="checkbox" name="devices" value="{{device.devEUI}}" {{device.checked}}>{{device.devEUI}}
      </label>  </li>
      {% endfor %}
      <li>
        <input class="btn btn-default btn-lg" type="submit" value="compute">
      </li>
      </form>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Simple Sidebar</h1>
          <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
          <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" onClick="toggleDisplay();">Toggle Menu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
  function toggleDisplay() {
    if ('toggled' == document.getElementById('wrapper').className){
      document.getElementById('wrapper').className = 'none';
    } else {
      document.getElementById('wrapper').className = 'toggled';
    }
  }
</script>
</body>
</html>